/*
Avalanche blue #2596be;
Avalanche maroon #6f253c;
*/


@font-face {
font-family: "DSEG7-Classic-Bold";
src: url(fonts/DSEG7Classic-Bold.woff);
}

body {
    overflow: hidden;
    background: url(images/concrete_seamless.png);
    background-attachment: contain;
    background-attachment: fixed;
    z-index: -100;
}

#clockWrapper {
    position: absolute;
    display: flexbox;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

h1 {
    display: block;
    color: #2596be;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    letter-spacing: 1rem;
    font-size: 55px;
    opacity: 40%;
    text-align: center;
    letter-spacing: 1px;
    border: none;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#clockContainer {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    z-index: 12;
}

.clock {
    position: relative;
    display: inline;
    min-width: 15%;
    height: auto;
    top: 5rem;
    margin: 0 1rem;
    padding: 10px 15px;
    left: 30%;
    background-color: rgba(110, 170, 250, 0.1);
    color: #720000;
    font-size: 32px;
    font-family: DSEG7-Classic-Bold, Arial, Helvetica, sans-serif;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgba(110, 170, 250, 0.5);
    box-shadow: 0 0 2px #143b91;
    border-radius: 5px;
    outline: none;
    z-index: 12;
}

.labels {
    display: flexbox;
    position: relative;
    min-width: 15%;
    height: auto;
    top: 5rem;
    margin-right: 3rem;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: none;
    border: none;
    outline: none;
    box-shadow: none;
}

#labelDays {
    left: 27.5rem;
}

#labelHours {
    left: 28.5rem;
}

#labelMinutes {
    left: 29rem;
}

#labelSeconds {
    left: 29.5rem;
}


#logoContainer {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 5rem;
    background-image: url(images/avalanche.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 20%;
    z-index: -4;
    transform: scale(1.1);

} 

#hockeyVector {
    position: absolute;
    display: grid;
    width: 100%;
    height: 33%;
    bottom: 3%;
    margin-top: 10rem;
    background-image: url(images/hockey.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    border-top: 1px solid none;
    box-shadow: inset 0 0 15rem rgba(42, 74, 116, 0.5);
    box-shadow: outset 0 0 5rem rgba(42, 74, 116, 0.5);
    transform: scale(1.5);
    overflow: hidden;
    opacity: 90%;
    z-index: 6;
}

#cup {
    position: absolute;
    display: block;
    transform: scale(0.5);
    opacity: 70%;
    z-index: 44;
}

/* @media (min-width: 400px) and (max-width: 992px) {
    .clock {
        position: relative;
        display: grid;
        grid-row: 1;
        width: 35%;
        height: 15%;
        top: -2rem;
        background-color: rgba(110, 170, 250, 0.2);
        color: #6f253c;
        font-size: 14px;
        font-family: DSEG7-Classic-Bold, Arial, Helvetica, sans-serif;
        text-align: center;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        
        border: 2px double #a8e0f5;
        border-right: 0.5px solid #a8e0f5;
        box-shadow: 0 0 15px #143b91;
        outline: none;
        border-radius: 30px;
        margin: 2rem;
        padding: 10px 10px;
        z-index: 4;
    }
} */