/*
Avalanche blue #2596be;
Avalanche maroon #6f253c;
*/

@font-face {
    font-family: "DSEG7-Classic-Bold";
    src: url(fonts/DSEG7Classic-Bold.woff);
}

html, body {
    max-width: 100%;
    overflow: hidden;
}

body {
    width: 100vw; 
    min-height: 100vh;
    overflow: hidden;
    background: url(images/concrete_seamless.png);
    background-size: contain;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    z-index: -100;
}

#wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    justify-content: center;
}

h1 {
    position: absolute;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Bungee', 'Open Sans', 'Helvetica', sans-serif;
    font-size: 64px;
    opacity: 80%;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #5d1d31;
    border: none;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#clockContainer {
    position: relative;
    justify-content: center;
    margin-top: 15rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    z-index: 12;
}

.clock {
    width: 100%;
    height: 50%;
    top: 28%;
    min-width: 6rem;
    max-width: 6rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0 3rem;
    padding: 2rem 4rem;
    font-family: DSEG7-Classic-Bold, Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(110, 170, 250, 0.1);
    color: #5d1d31;
    border: 1px solid rgba(110, 170, 250, 0.5);
    border-bottom: 1px solid rgba(110, 170, 250, 0.5);
    box-shadow: 0 0 1px #143b91;
    border-radius: 5px 35px;
    outline: none;
    z-index: 12;
}

#logoContainer {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    background-image: url(images/avalanche.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    opacity: 20%;
    z-index: -12;
} 

#bottomContainer {
    position: absolute;
    min-width: 100%;
    min-height: 40%;
    bottom: 0;
    background-color:rgba(110, 170, 250, 0.1);
    z-index: 6;
}

#shadow {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 0;
    border-top: 1px solid none;
    box-shadow: inset 0 0 15rem rgba(42, 74, 116, 0.3);
    box-shadow: outset 0 0 5rem rgba(42, 74, 116, 0.3);
    opacity: 80%;
    z-index: 6;
} 

/* 
#cup {
    position: absolute;
    margin: 0 auto;
    right: 60%;
    padding: auto;
    transform: scale(0.2);
    opacity: 30%;
    z-index: 44;
} 
*/


@media (min-width: 300px) and (max-width: 1025px) {
    h1 {
        margin: 3rem auto;
        font-size: 22px;
    }
    #clockContainer {
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
    .clock { 
        min-width: 3rem;
        max-width: 3rem;
        height: 1rem;
        margin: 0 0.5rem;
        padding: 12px 20px;
        border-radius: 5px 15px;
        line-height: 1rem;
        font-size: 20px;
    }
}